/*Typography*/
body { font-family: "Karla", sans-serif; }
h1, h2, h3, h4, h5 { font-family: "Rubik", sans-serif; }

/* Color Swaps */
.bg-lightest-blue { background-color: #9faefe; }
.bg-blue { background-color: #536dfe; }
.blue { color: #536dfe; }
.navy { color: #4f567e; }

/* Gradients */
.bg-gradient-blue {
  background-image: linear-gradient(to bottom, #536dfe, #4257cb)
}
.bg-gradient-white {
  background-image: linear-gradient(to bottom, #f4f4f4, #dddddd)
}
