.contact__form {
  border-bottom: 1px #bbb solid;
  border-top: none;
  border-left: none;
  border-right: none;
  resize: none;
}

.contact__form:focus { border-bottom: 1px #536dfe solid; }

.contact__form:invalid {
  box-shadow: none;
}
